@model Sampe.AtividadeFormularioOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AtividadeFormularioOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormularioOrdemServico.TipoManutencao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormularioOrdemServico.TipoManutencao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtividadeOSId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtividadeOSId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusAtividadeOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusAtividadeOS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AtividadeFormularioOSId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
