@model Sampe.FormularioTrocaMolde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormularioTrocaMolde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.NomeMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.NomeMaquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Molde.NomeMolde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Molde.NomeMolde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Hierarquia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Hierarquia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtColocar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtColocar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColocarInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColocarInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColocarFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColocarFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetirarInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetirarInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetirarFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetirarFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormularioTrocaMoldeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
