@model IEnumerable<Sampe.Molde>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeMolde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cavidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeMolde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cavidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MoldeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MoldeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MoldeId })
        </td>
    </tr>
}

</table>
