@model IEnumerable<Sampe.FormularioOrdemServico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.NomeMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Hierarquia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoManutencao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intervalo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervaloInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervaloFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObsIntervalo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Executante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Maquina.NomeMaquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Hierarquia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoManutencao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intervalo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntervaloInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntervaloFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObsIntervalo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Executante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormularioOrdemServicoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormularioOrdemServicoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormularioOrdemServicoId })
        </td>
    </tr>
}

</table>
